---
---

@import "{{ site.theme }}";

.container {
    max-width: 840px;
}

code.highlighter-rouge {
    color: #d0d0d0;
    background-color: black;
    font-family: monospace;
    font-size: 90%;
    padding: 2px;
}

th {
  border-bottom: none;
}
